{% extends 'general-template.html' %}
{% block content %}

<h1>{{ description }}</h1>
<p>{{ results_count }} results out of {{ image_limit }} requested.</p>

<table>
    <tr>
        <th>ImageId</th>
        <th>Image</th>
    </tr>
    {% for index, row in data.iterrows() %}
    <tr>
        <td>
            <a href="/image_info?image_id={{ row['ImageId'] }}">{{ row['ImageId'] }}</a>
        </td>
        </td>
        <td>
            <a href="{{ row['Image'] }}" target="_blank">
                <img src="{{ row['Image'] }}" style="width: 300px;">
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
